@import "../../global.scss";

.menu{
    width: 300px;
    height: 100vh;
    background: rgb(69,163,79);
    background: linear-gradient(0deg, #257419 0%, #0e2c0a 100%);
    position: fixed;
    top: 0;
    right: -300px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .5s ease;
    
    
    
    &.active{
        right: 0;
    }
    
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 30px;
        font-weight: 300;
        color: white;
        width: 70%;
        
        
        
        
        li{
            margin-bottom: 55px;

           

            @include mobile4 {
                margin-bottom: 25px;
            }

            

            &:nth-child(4),
            &:nth-child(5),
            &:nth-child(6), 
            &:nth-child(7),
            &:nth-child(8){
                display: none;
            }

            @include mobile{

                &:nth-child(4),
                &:nth-child(5),
                &:nth-child(6), 
                &:nth-child(7),
                &:nth-child(8){
                    display: block;
                }

                font-size: 17px;  

                @include mobile8 {
                    margin-bottom: 15px;

                    &:nth-child(4),
                    &:nth-child(6){
                    display: none;
                    }
                }
            }
            
            
            a{
                font-size: 30px; //cambie este de inherit
                color: inherit;
                text-decoration: none;

                @include mobile {
                    font-size: 17px;
                }
            }

            &:hover{
                font-weight: 500;
            }

        }
    }
}