@import "../../global.scss";


.portfolio{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
        font-size: 50px;
        -ms-user-select: none;
    -webkit-user-select: none;
        user-select: none;

        @include mobile{
            font-size: 20px;
        }
    }

    ul{
        margin: 10px;
        padding: 0;
        list-style: none;
        display: flex;
        
        li{
            font-size: 22px;
        }

       @include mobile{
            padding: 1rem;
            flex-wrap: wrap;
            justify-content: center;
        }

    }

    .container{
        width: 80%;
        height: 85%;
        display: flex;
        
        justify-content: center;
        flex-wrap: wrap;
        

        @include mobile{
            width: 100%;
        }
        .slider-wrapper {
            position: relative;
            height: 100%;
            width: 100%;
            overflow: hidden;
            
        }
        
        .slide {
            background-size: cover !important;
        }
        .slide::before {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.9)));
            background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
            bottom: 0;
            left: 0;
        }
        button {
            color: white;
            border: none;
            background: #0a6f22;
            border-radius: 30px;
            text-transform: uppercase;
            box-sizing: border-box;
            padding: 15px 40px;
            font-weight: 400;
            font-size: 13px;
            cursor: cursor;
        }
        button:hover {
            color: #FFFFFF;
            background: #222222;
            -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
                    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
        }
        .slider-content {
            text-align: center;
        }
        .slider-content .inner {
            padding: 0 70px;
            box-sizing: border-box;
            position: absolute;
            width: 100%;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
            -ms-user-select: none;
            -webkit-user-select: none;
                    user-select: none;



            @include mobile3{
                top: 30%;
            }

            

        }
        .slider-content .inner h1 {
            font-weight: 500;
            margin: 0 auto;
            max-width: 840px;
            color: #FFFFFF;
            font-size: 50px;

            @include mobile2{
                font-size: 40px;
            }

            @include mobile5{
                font-size: 24px;
                margin-bottom: 16px;
            }
        }
        .slider-content .inner p {
            color: #FFFFFF;
            font-size: 24px;
            margin: 20px auto 30px;
            max-width: 640px;


            @include mobile2{
                font-size: 20px;
            }

            @include mobile5{
                display: none;
            }
        }
           
    }

    .previousButton {
            position: absolute;
            top: 56.2%;
            transform: translateY(50%);
            z-index: 10;
            width: 100px;
            height: 100px;
            text-indent: -9999px;
            background: url('../../assets/arrow.png') no-repeat center center / 100px;
            transform: rotateY(180deg);
            color: white;
            cursor: pointer;

           @include mobile2{
                transform: scale(.8) rotateY(180deg);
                top:53%;
                left: -5%;
            }

            @include mobile3{
                top: 40%;
            }

            @include mobile5{
                transform: scale(.5) rotateY(180deg);
                top:53%;
                left: -5%;
            }
    }
    .nextButton {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(50%);
            z-index: 10;
            width: 100px;
            height: 100px;
            text-indent: -9999px;
            background: url('../../assets/arrow.png') no-repeat center center / 100px;
            
            cursor: pointer;

            @include mobile2{
                transform: scale(.8);
                margin-top:45px;
                right: -5%;
            }

            @include mobile3{
                top: 33%;
            }

            @include mobile5{
                transform: scale(.5);
                top:45%;
                right: -5%;
            }
    }

}

/* animations
 .slide h1 {
            transition: all 0.3s ease;
            -webkit-transform: translateY(-20px);
                    transform: translateY(-20px);
            opacity: 0;
             
        }

        .slide button {
            transition: all 0.3s ease;
            -webkit-transform: translateY(20px);
                            transform: translateY(20px);
            opacity: 0;
              
        }

        .slide p {
            transition: all 0.3s ease;
            -webkit-transform: translateY(20px);
                            transform: translateY(20px);
            opacity: 0;
            
        }

        
 .slide.animateIn.previous h1,
        .slide.current h1,
        .slide.animateIn.next h1,
        .slide.animateIn.previous button,
        .slide.current button,
        .slide.animateIn.next button,
        .slide.animateIn.previous p,
        .slide.current p,
        .slide.animateIn.next p,
        .slide.animateIn.previous section *,
        .slide.current section *,
        .slide.animateIn.next section * {
            -webkit-transform: translateX(0);
                    transform: translateX(0);
            -webkit-transition-delay: .9s;
                    transition-delay: .9s;
                                opacity: 1;
        }

        .slide.animateIn.previous p,
        .slide.animateIn.next p {
            -webkit-transition-delay: 1.1s;
                    transition-delay: 1.1s;
        }

        .slide.animateIn.previous button,
        .slide.animateIn.next button {
            -webkit-transition-delay: 1.3s;
                    transition-delay: 1.3s;
        }

        .slide.animateIn.previous section img,
        .slide.animateIn.next section img {
            -webkit-transition-delay: 1.3s;
                transition-delay: 1.3s;
        }

        .slide.animateIn.previous section span,
        .slide.animateIn.next section span {
            -webkit-transition-delay: 1.4s;
                    transition-delay: 1.4s;
        }

        .slide.animateIn.previous section span strong,
        .slide.animateIn.next section span strong {
            -webkit-transition-delay: 1.5s;
                    transition-delay: 1.5s;
        }

        .slide.animateOut h1 {
            -webkit-transition-delay: .3s;
                    transition-delay: .3s;
        }

        .slide.animateOut p {
            -webkit-transition-delay: .2s;
                    transition-delay: .2s;
        }

        .slide.animateOut section span {
            -webkit-transition-delay: .1s;
                    transition-delay: .1s;
        }

        .slide.animateOut section span strong {
            -webkit-transition-delay: 0s;
                    transition-delay: 0s;
        }
*/

/* ejemplo original
.item{
            width: 220px;
            height: 150px;
            border-radius: 20px;
            border: 1px solid lightgrey;
            margin: 10px 20px;
            align-items: center;
            justify-content: center;
            display: flex;
            color: white;
            position: relative;
            overflow: hidden;
            transition: all 1s ease;
            cursor: pointer;

            @include mobile{
                width: 130px;
                height: 100px;
            }


            h3{
                position: absolute;
                font-size: 20px;
            }

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 1;
            }

            &:hover{
                background-color: $mainColor;
                img{
                    opacity: 0.2;
                    z-index: 0;
                }
            }
        }*/