$mainColor: #000000;

$width: 1100px;

@mixin mobile {
    @media (max-width: $width) {
        @content;
    }
}

$width2: 580px;

@mixin mobile2 {
    @media (max-width: $width2) {
        @content;
    }
}

$width3: 375px;
//$height3: 670px;
@mixin mobile5 {
    @media (max-width: $width3 ) {
        @content;
    }
}


$height: 955px;

@mixin mobile3 {
    @media (max-height: $height) {
        @content;
    }
}


$height2: 875px;

@mixin mobile4 {
    @media (max-height: $height2) {
        @content;
    }
}

